* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #191414;
  color: #fff;
  font-size: 16px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

select,
input,
text,
option,
button {
  font-size: 16px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: both;
}

div.container {
  margin: 1rem auto 0 auto;
}

canvas,audio,svg {
  vertical-align: top;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hidden {
  display: none;
}
